'.source.js':
  'Component stylemanager on context':
    'prefix': 'rmsm'
    'body': """
      import customPropTypes from 'material-ui/utils/customPropTypes'

      ${1:ComponentName}.contextTypes = {
        styleManager: customPropTypes.muiRequired,
      }
    """
